<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Time Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="container">
    <div class="card-header">
        <h1 class="display-4">
            <span th:text="#{checkIn.header}"></span>
        </h1>
        <hr>
    </div>

    <div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <span th:text="#{checkIn.start}">CheckIn: </span>
                <form th:action="@{/check_in_out/check_in}"  method="post">
                    <button class="btn btn-outline-primary mr-3 my-2 my-sm-0" type="submit"> check-in</button>
                </form>
                </div>
            <hr>

            <div class="card-text">
                <span th:text="#{checkIn.stop}">CheckOut: </span>
                <form th:action="@{/check_in_out/check_out}"  method="post">
                    <button class="btn btn-outline-primary mr-3 my-2 my-sm-0" type="submit"> check-out</button>
                </form>
            </div>
            <hr>

            <div class="card-text">
                <span th:text="#{checkIn.total}">TotalTime: </span>
                <form th:action="@{/check_in_out/getTime}"  method="get">
                    <button class="btn btn-outline-primary mr-3 my-2 my-sm-0" type="submit"> Total Time</button>
                </form>
            </div>

    </div>
    </div>
</div>

</body>
</html>