
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <div class="card-header">
        <h1 class="display-4">
            <span th:text="#{currency.header}"></span>
        </h1>
        <hr>
    </div>
    <div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-text">
    <form action="#" th:action="@{/currency/currency_output}" >
        <p><h5>Please enter your amount: &emsp; <input th:name="amount"      required/></h5></p>
        <br>
        <hr>
        <form method="post" th:object="${currency}">

            <label for="base_code">Choose your base currency: &nbsp;</label>
            <select     th:name="base_code" id="base_code" required>
                <option value="">Nothing selected</option>
                <option th:each="currencySelection : ${T(com.finalproject.model.entity.CurrencySelection).values()}"
                        th:value="${currencySelection}"
                        th:text="${currencySelection}">currencySelection
                </option>
            </select>
            <br>
            <hr>

            <label for="target_code">Choose your target currency: </label>
            <select     th:name="target_code" id="target_code" required>
                <option value="">Nothing selected</option>
                <option th:each="currencySelection : ${T(com.finalproject.model.entity.CurrencySelection).values()}"
                        th:value="${currencySelection}"
                        th:text="${currencySelection}">currencySelection
                </option>
            </select>
            <br>
            <hr>

            <p>
                <button class="btn btn-outline-primary mr-3 my-2 my-sm-0" type="submit">
                    Submit
                </button>

        </form>
    </form>
    </div>
</body>
</html>