<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Currency Converter</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<h2>Please enter your salary and the currency you want:</h2>
<form action="#" th:action="@{/currency_output}" method="post">
    <p>Amount: <input type="text" th:name="amount" /></p>
    <p>Base currency: <input type="text" th:name="base_currency" /></p>
    <p>Convert to: <input type="text" th:name="currencies" /></p>
    <p><input type="submit" value="Submit" />
</form>
</body>
</html>