<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Currency Converter</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/employee_list}">Doctors List</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/departments_list}">Departments List</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/currency_input}">Currency Converter</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="container">
  <hr>
  <br>
  <br>
  <h2>Your converted salary: </h2>
  <hr>
  <span th:text="${base}"></span>:
  <span th:text="${amount}"></span>
  <br>
  <br>
  <tr th:each="rate: ${rates}">
    <td th:text="${rate.getKey()}"/>:
    <td th:text="${rate.getValue()}"/>
  </tr><br>
  <hr>

</body>
</html>
