
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
<body>

<section layout:fragment="content">
    <div class="wrapper">

        <article class = "main">
            <h2> Please click on the buttons to register your working hours: </h2>

            <form th:action="@{/start}" th:object="${start}" method="post">
                <button type="submit"> check-in</button>
            </form>

            <form th:action="@{/stop}"  th:object="${stop}" method="post">
                <button type="submit"> check-out</button>
            </form>

            <form th:action="@{/getTotalWorked}" th:object="${getTotal}" method="get">
                <button type="submit"> Total working hours</button>
            </form>

        </article>

</body>
</html>