<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Leave Overview</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/employee_list}">Employee List</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/departments_list}">Departments List</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/check_in_out}">Check-in/Check-out</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/leave}">Absence & Leave</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/currency_input}">Currency Converter</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <hr>
    <br>

    <hr>
    <h4>Leave Overview</h4>

    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <th>Name</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>No of Days</th>
        <th>Reason</th>
        <th>Leave Type</th>
        <th>Action</th>


        </tr>
        </thead>
        <tbody>
            <td th:text='Name'/>
            <td th:text="${param.fromDate}"/>
            <td th:text="${param.toDate}"/>
            <td th:text='Days'/>
            <td th:text="${param.leaveReasons}"/>
            <td th:text='Leave_Type'/>
            <td th:text='Action'/>
        </tr>

        </tbody>

    </table>


</div>
</body>
</html>

