<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <div th:if="${leavePage.isEmpty()}">
                <h1 class="display-4" th:text="#{leaves.empty}"> No leaves available </h1>
                <hr>
            </div>
            <div th:unless="${leavePage.isEmpty()}">
                <h1 class="display-4" th:text="#{leaves.title}">Leaves</h1>
                <hr>
                <div th:replace="~{/fragments/pagination.html::page-navigation(url='/leaves',page=${leavePage})}"></div>
            </div>
        </div>
        <div class="card-body">
            <div th:unless="${leavePage.isEmpty()}" class="row">
                <div class="col-md-6" th:each="leave : ${leavePage}">
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <p><span th:text="${leave.description}">Description:</span></p>
                        </div>
                        <div class="card-footer">
                            <p>
                                <span th:text="#{leaves.leave.id}">Id: </span>
                                <span th:text="${leave.id}"></span>
                            </p>
                            <p>
                                <span th:text="#{leaves.leave.leaveReason}">Reason: </span>
                                <span th:text="${leave.leaveReason}"></span>
                            </p>
                            <p>
                                <span th:text="#{leaves.leave.start_time}">Start time: </span>
                                <span th:text="${#temporals.format(leave.getStartTime(), 'dd.MM.yyyy')}"></span>
                            </p>
                            <p>
                                <span th:text="#{leaves.leave.end_time}">End time: </span>
                                <span th:text="${#temporals.format(leave.getEndTime(), 'dd.MM.yyyy')}"></span>
                            </p>
                            <p>
                                <span th:text="#{leaves.leave.duration}">Duration: </span>
                                <span th:text="${leave.duration?.toDaysPart()}"></span>
                                <span th:text="#{leaves.leave.duration.days}">days</span>
                            </p>
                            <p>
                                <span th:text="#{leaves.leave.users}"></span>
                                <span th:each="user : ${leave.users}">
                                    <span th:text="${user.username}"></span>
                                </span>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div aria-label="btn-group" class="btn-group" role="group">
                                    <a class="btn btn-sm btn-secondary"
                                       sec:authorize="hasAuthority('ADMIN')"
                                       th:href="@{/leaves/delete/{id}(id=${leave.id})}"
                                       th:text="#{leaves.leave.button.cancel}">
                                        Cancel
                                    </a>
                                    <a class="btn btn-sm btn-secondary"
                                       th:href="@{/leaves/request/add/{id}(id=${leave.id})}"
                                       th:text="#{leaves.leave.button.request}">
                                        Request
                                    </a>

                                </div>
                            </div>

                            <!--End modal window-->
                            <small>
                                <span th:text="#{leaves.leave.leaveStatus}">Status:</span>
                                <span
                                        th:text="${leave.leaveStatus}">
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div th:replace="~{/fragments/pagination.html::page-navigation(url='/leaves',page=${leavePage})}"></div>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>