<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8">
  <title>LAK EMS</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div>

</div>

<form th:action="@{/change_password}" method="post" style="max-width: 350px; margin: 0 auto;">
  <h2>Change Your Password</h2>
  <div class="border border-secondary rounded p-3">
    <div th:if="${message != null}" class="m-3">
      <p class="text-danger">[[${message}]]</p>
    </div>
    <div>
      <p>
        <input type="password" name="oldPassword" class="form-control"
               placeholder="Old Password" required autofocus />
      </p>
      <p>
        <input type="password" name="newPassword" id="newPassword" class="form-control"
               placeholder="New password" required />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm new password"
               required oninput="checkPasswordMatch(this);" />
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
    </div>
  </div>
</form>

</body>
</html>