<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Department Update Page</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <hr>
    <h2>Update Department</h2>

    <form action="#" th:action="@{/saveDepartment}" th:object="${department}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{name}" />

        <button type="submit" class="btn btn-info col-2"> Update Department</button>
    </form>

    <hr>

    <a th:href = "@{/departments_list}"> Back to Department List</a>
</div>
</body>
</html>